 <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-links">
            <a href="user/home">Home</a>
            <a href="/seller/home">Add Home</a>
            <a href="/"> Main Page </a>
        </div>
    </nav>