<%- include('../partial/head') %>
<%- include('../partial/nav') %>



<div class="container">

    <div class="card error-card">

        <h2>User Booking </h2>

        <p>
            All your booking will be shown here
        </p>


    </div>

</div>

</body>
</html>