<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb Home Page</title>
    <!-- <link rel="stylesheet" href="style.css" > -->
     <!--This wont help rather we need to create a different folder as while loading the website this file wont be accessable by the browser, as browser can only access the folders and file that we have told him and this is not something , it has been informed-->
     <!-- <link rel="stylesheet" href="style.css"> -->
     <!--after using the static function we can directly write the file name as that public folder is made -->
     <link rel="stylesheet" href="/output.css">
</head>
<body>
    <h1 class="text-red-700"> Welcome To Home Page Of Airbnb </h1>
   <a href="/user/home" > User Side </a>
    <br>
    <a href="/seller/add"> Seller Side</a>
</body>
</html>