 <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-links">
             <a href="/"> Main Page </a>
            <a href="/user/home">Home</a>
            <a href="/user/booking"> Bookings</a>
            <a href="/user/fav">Favourite</a>
        </div>
    </nav>