 <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-links">
             <a href="/"> Main Page </a>
            <a href="/seller/home">Add Home</a>
           <a href="/seller/list">Home-List</a>
           <a href="/seller/edit">Home-Edit</a>
    </nav>