<%- include('../partial/head') %>
<%- include('../partial/nav_s') %>



<div class="container">

    <div class="card error-card">

        <h2>This is the Edit page</h2>


    </div>

</div>

</body>
</html>